.doodle-list{
  .grid-item{
    width: 280px;
    margin-bottom: 20px;
    @media screen and (max-width: $tablet-width){
      width: 100%;
    }
  }
  .grid-hover{
    padding: 10px 10px 20px 10px;
    &:hover,
    &:focus{
      transition: all 0.2s ease-in;
      border-radius: 5px;
      background-color: #ffffff;
      a{
        color: rgba($font-color-base, 1);
        
      }
    }
    .entry{
      color: $font-color-base;
      font-weight: normal;
      font-size: 16px;
    }
  }
}
