.opening-animation{
  height: 240px;
  margin: 20px 0 80px;
  .sockrollers{
    position: relative;
    .sockroller{
      margin-left: -50px;
      &.right{
        animation: sliding-right 4s infinite;
        position: absolute;
      }
      &.left{
        position: absolute;
        top: 30px;
        left: 66px;
        animation: sliding-left 4s infinite;
        animation-delay: 0.6s;
      }
      .sock{
        img{
          max-width: intrinsic;
          max-width: inherit;
          width: 240px;
        }
      }
    }
  }
  .wheels{
    position: relative;
    .wheel{
      position: absolute;
      top: -18px;
    }
    .front{
      left: 20px;
    }
    .back{
      right: 20px;
    }
    .spiral-wheel-mask{
      background-color: #ffffff;
      border: 6px solid #3f3f3f;
      width: 52px;
      height: 52px;
      position: relative;
      overflow: hidden;
      border-radius: 100%;
      z-index: -10;
    }
    .spiralbody div, .spiralbody {
      position: absolute;
      width: 50%;
      height: 50%;
      border-top: 3px solid #3f3f3f;
      border-left: 3px solid #3f3f3f;
      border-radius: 100% 0 0 0;
      transform: rotate(90deg);
      box-sizing: border-box;
    }
    .spiralbody{
      top: -10px;
      left: -10px;
      animation: spiralspin 120000s infinite linear;
    }
  }

  .speed{
    position: absolute;
    top: 260px;
    left: 320px;
    .whoosh-1,
    .whoosh-2{
      width: 60px;
      height: 10px;
      background-color: #fff;
      border-radius: 500px;
    }
    .whoosh-1{
      animation: whooshing1 1s infinite linear;
    }
    .whoosh-2{
      position: absolute;
      top: 4px;
      left: 4px;
      animation: whooshing2 1s infinite linear;
    }
  }

  @keyframes spiralspin {
    0% {
        transform: rotate(0deg);
       }

    100% {
        transform: rotate(-72000000deg);
       }
    }

  @keyframes sliding-left {
    0% {
      top: 40px;
      left: 40px;
      transform: rotate(0deg);
    }
    30%{
      top: 44px;
    }
    59% {
      top: 40px;
      left: 50px;
      transform: rotate(0deg);
    }
    60% {
      top: 30px;
      left: 60px;
      transform: rotate(-10deg);
    }
    68% {
      top: -20px;
      left: 70px;
      transform: rotate(-40deg);
    }
    74% {
      top: -32px;
      left: 60px;
      transform: rotate(30deg);
    }
    78%{
      left: 50px;
      transform: rotate(48deg);
    }
    82% {
      top: -36px;
      left: -30px;
      transform: rotate(40deg);
    }
    100% {
      top: 40px;
      left: 40px;
      transform: rotate(0deg);
    }
  }

  @keyframes sliding-right {
    0% {
      top: 20px;
      left: 20px;
      transform: rotate(0deg);
    }
    10% {
      top: 10px;
      left: 60px;
      transform: rotate(-10deg);
    }
    30% {
      top: -40px;
      left: 100px;
      transform: rotate(-24deg);
    }
    50% {
      top: -30px;
      left: 10px;
      transform: rotate(28deg);
    }
    60% {
      top: 10px;
      left: 20px;
      transform: rotate(14deg);
    }
    70% {
      top: 18px;
      left: -5px;
      transform: rotate(0deg);
    }
    84%{
      top: 20px;
      left: 20px;
    }
    100% {
      top: 20px;
      left: 20px;
      transform: rotate(0deg);
    }
  }
}
