---
layout: default
title: doodle
navigation_weight: 2
category: doodle
---
<section class="doodle-list l-container-fluid">
  <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
  {% for post in site.posts %}
    {% if post.categories contains 'doodle' %}
    <div class="post">
      <a href="{{ post.url }}">
        <div class="grid-item grid-hover">
          <img src="{{ post.thumbnail }}" />
          <h2 class="title">{{ post.title }}</h2>
          <div class="entry">
            {{ post.content | strip_html | truncatewords: 10 }}
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</section>
