<div class="about center-center">
  <section class="l-container">
    <div class="width-4 center-vertical md-width-10">
      <h2>80ssundries <span class="br zh">八零年代生活百貨</span></h2>
      <p>I'm Wanyu Chang, a freelance web designer base in Taipei</p>
      </div>
  </section>
  <section class="l-container">
    <div class="width-4 center-vertical md-width-10">
      <h3>Elsewhere</h3>
      <ul class="social-links">
        <li><a href="https://twitter.com/80ssundries">twitter</a></li>
        <li><a href="https://www.behance.net/bananapple">behance</a></li>
        <li><a href="https://www.instagram.com/serialbanana/">instagram</a></li>
        <li><a href="https://bananapple.github.io/blog/">blog</a></li>
      </ul>
    </div>
  </section>
</div>
