<div class="about center-center">
  <section class="l-container">
    <div class="width-6 center-vertical md-width-10">
      <h2>80ssundries <span class="br zh">八零年代生活百貨</span></h2>
      <p>Hi, I'm Wanyu, a web developer who love to draw silly doodle</p>
      <p>I came up the name "80s sundries" when I was shoping in a grocery store in Katiann, the store was like a time capsule stucked in 80s, so, that's it.</p>
      <p>I realize how I addicted to old stuff.</p>
      <p>Yet in 2018, I found a meaningful theme to draw, which is Formosa history, the island I live, my friend Feng and I started a memorial drawing event called <a href="https://hashtag228.tw" target="_blank">Hashtag228</a></p>
    </div>
  </section>
</div>
