.intro{
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  .intro-section{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-button-set{
      position:relative;
      .intro-button{
        font-family: $display-font;
        font-size: 3.8em;
        color: #333;
        &:hover{
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 4px #333333;
        }
        &:hover + .intro-hover{
          display: block;
        }
      }
      .intro-hover{
        position: absolute;
        display: none;
        bottom: 40px;
        left:-60px;
        font-family: $deco-font;
        font-size: $font-size-base/0.4;
        color: #fff;
        transform: rotate(-20deg);
        text-shadow: 
          -1px -1px 0 rgba(244,244,28, 0.7),
          1px 1px 0 rgba(244,244,28, 0.7),
          0 0 0 rgba(244,244,28, 0.7),
          0 0 26px rgba(255,255,255,0.8),
          2px 2px 26px rgba(255,255,255,0.8),
          -2px -2px 26px rgba(255,255,255,0.8),
          -4px 0 26px rgba(255,255,255,0.8),
          0 -4px 26px rgba(255,255,255,0.8);
      }
    }
  }
}
