<div class="sockrollers">
  <div class="sockroller right">
      <div class="sock">
        <img src="assets/images/home/sock.png"/>
      </div>
      <div class="wheels">
        <div class="front wheel">
          <div class="spiral-wheel-mask">
            <div class="spiralbody">
            <div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div>
          </div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div>
          </div>
          </div>
        </div>
        <div class="back wheel">
          <div class="spiral-wheel-mask">
            <div class="spiralbody">
            <div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div>
          </div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  <div class="sockroller left">
    <div class="sock">
      <img src="assets/images/home/sock.png"/>
    </div>
    <div class="wheels">
      <div class="front wheel">
        <div class="spiral-wheel-mask">
          <div class="spiralbody">
            <div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div>
          </div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div>
          </div>
        </div>
      </div>
      <div class="back wheel">
        <div class="spiral-wheel-mask">
          <div class="spiralbody">
          <div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div>
        </div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
